body{
  background: #e1ca86;
}

#nav-bar{
  padding-bottom: 4px;
  width: 70%;
}
#giuliosLogo{
  /* width: 20%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#customMarker{
  width: 18px;
}

#map{
  border-top: 1px solid #aa0e05 !important;
  border-bottom: 1px solid #aa0e05 !important;
}

#topShelfLounge{
  white-space: nowrap;
}

#hosts{
  padding-top: 5%;
}


.center{
  text-align: center !important;
}

.navbar{
  /* top: -50px; */
}

.style{
  font-family: 'Open Sans', sans-serif;
}
.title{
  margin-top:1%;
  text-shadow: 2px 3px gainsboro;
}

.pizza-size{
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.pizza-price{
  padding-top: 0 !important;
}

.nowrap{
  white-space: nowrap;
}

.test{
  color:blue;
}

.information{
  margin-left: 15%;
  margin-right: 15%;
}

.border{
  border-top: solid;
  border-top-color: #dededf;
  border-bottom: solid;
  border-bottom-color: #dededf;
}

.border-top{
  border-top: solid;
  border-top-color: gainsboro;
}

.parallax-container{
  height: 300px !important;
}

.page-footer{
  background-color: #ffffff !important;
}

.vertical-align{
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.item{
  display: table-cell !important;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 16px;
}

.ui.secondary.pointing.menu .item:hover{
  color:#ab0d12 !important;
}

.ui.secondary.pointing.menu .active.item{
  color: #ab0d12 !important;
  border-color: #ab0d12 !important;
}

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: $height-footer;
  background-color: #e1ca86e3;
}

#grubIcon{
  width: 60px;
  height: 60px;
}

.footer-link{
  padding: 0% 5% 5% 5%;
  color: black;
}

.footer-link:hover{
  color:#ab0d12;
}

.footer-icon{
  padding-top: 10px;
}

.foot{
  height: 80px;
  padding-top: 1% !important;
}

.menu-item{
  margin-bottom: 1%;
}

.menu-price{
  margin-bottom: 2%;
}
